body {
  font-family: sans-serif;
  background-color: black;
}
.container {
  max-width: 700px;
  margin: auto;
}
#table {
  height: 450px;
  max-width: 100%;
  background-color: #216238;
  border-radius: 30%;
  border: 10px solid brown;
  margin: 50px auto;
}

#messages {
  width: 100%;
  height: 60px;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  line-height: 60px;
}
h1 {
  text-align: center;
}
label, h1 {
  color: #fff;
}
.user {
  padding-left: 50px;
}
#dealer-hand, #player-hand {
  width: 90%;
  height: 65px;
  margin: 15px auto;
  background-color: #ca3a3a;
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

button {
  /*padding: 10px 15px;*/
  border-radius: 5px;
  background-color: #fff;
  border: none;
  font-size: 1.25em;
  transition: 0.3s;
  cursor: pointer;
}

button:enabled:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}

button:focus {
  outline: none;
}

/*************************
          CARDs
*************************/
.card {
  height: 58px;
  margin-top: 4px;
  margin-left: 5px;
}
#dealer-hole-card {
  width: 40px;
  border-radius: 10px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: -5px;
}

/*************************
        MEDIA QUERIES
*************************/
@media screen and (min-width: 400px) {
  .card {
    height: 80px;
  }
  #dealer-hole-card {
    width: 56px;
  }
  #dealer-hand, #player-hand {
    height: 90px;
  }
  label {
    font-size: 1.25em;
  }
  button {
    padding: 15px 10px;
  }
}

@media screen and (min-width: 575px) {
  #table {
    height: 500px;
  }
  .card {
    height: 100px;
  }
  #dealer-hole-card {
    width: 68px;
  }
  #dealer-hand, #player-hand {
    height: 110px;
  }
  label {
    font-size: 1.25em;
  }
  button {
    padding: 20px 15px;
  }
}
